*,
*::after,
*::before {
   margin: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;

   &::selection {
      background-color: var(--White);
      color: var(--Black);
   }
}

body,
html {
   width: 100%;
   box-sizing: border-box;
   overflow: hidden auto;
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   position: relative;
   background-color: var(--Black);
}

:root {
   /* Colors */
   --Black: #080808;
   --White: #ffffff;
}

@font-face {
   font-family: InterTight_Bold;
   src: url(Fonts/InterTight-Bold.ttf);
}
@font-face {
   font-family: InterTight_Medium;
   src: url(Fonts/InterTight-Medium.ttf);
}
@font-face {
   font-family: InterTight_Light;
   src: url(Fonts/InterTight-Light.ttf);
}

#scrollIndicator {
   background-color: var(--White);
   position: fixed;
   inset: 0 0 auto 0;
   width: 100%;
   height: 0.2em;
   transform-origin: left;
   transform: scale(0, 1);
   z-index: 99999;

   animation: scroll_indication linear;
   animation-timeline: scroll(block);
}

@keyframes scroll_indication {
   to {
      transform: scale(1, 1);
   }
}

#loader {
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--White);
   z-index: 9999999;

   & img {
      width: clamp(10em, 13vw, 15vw);
   }
}

#section1 {
   width: 100%;
   height: max-content;
   overflow: hidden;
}

nav {
   width: 100%;
   padding: 1em clamp(1.5em, 6vw, 5.5vw);
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   user-select: none;
   z-index: 99;
}

.nav_logo {
   color: var(--White);
   font-family: InterTight_Light, Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
   font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.nav_right {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2em;

   & a {
      color: var(--White);
      font-family: InterTight_Light, Arial, Helvetica, sans-serif;
      font-size: 1rem;
      padding: 1em 0.5em;
      position: relative;

      &::after {
         position: absolute;
         content: "";
         width: 0.5em;
         height: 0.5em;
         background-color: var(--White);
         border-radius: 50%;
         bottom: -30%;
         left: 50%;
         transform: translateX(-50%) scale(0);
         transition: transform 200ms ease-in-out;
      }

      &:hover::after {
         transform: translateX(-50%) scale(1);
      }
   }
}

.menu {
   background-color: var(--Black);
   width: 100%;
   height: 100vh;
   height: 100svh;
   position: fixed;
   inset: 0;
   z-index: 9;
   overflow: hidden;
   display: none;
   align-items: baseline;
   justify-content: center;
   flex-direction: column;
   padding-inline: clamp(1.5em, 6vw, 5.5vw);
   transform: translateY(-100%);

   & a {
      width: 100%;
      overflow: hidden;
      padding-block: 1.3vh;
      padding-block: 1.3svh;
      transition: opacity 200ms ease-in-out;

      &:hover {
         opacity: 0.3;
      }

      & p {
         color: var(--White);
         font-family: InterTight_Medium, Arial, Helvetica, sans-serif;
         font-size: clamp(3rem, 7vw, 7.2vw);
         letter-spacing: 1.2px;
         transform: translateY(110%);
      }
   }
}

#hamburger_button {
   cursor: pointer;
   width: 3em;
   height: 3em;
   padding: 0.3em;
   display: none;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 0.4em;

   &:hover {
      opacity: 0.8;
   }

   & span {
      width: 85%;
      height: 0.15em;
      background-color: var(--White);
      border-radius: 9em;
      transform-origin: center;
   }
}

#hamburger_button[data-hamburger-click="true"] {
   & span {
      transition: opacity 300ms ease-in-out, translate 300ms ease-in-out, transform 300ms ease-in-out 300ms;
   }

   & span:nth-child(1) {
      translate: 0 0.55em;
      transform: rotate(45deg);
   }

   & span:nth-child(2) {
      opacity: 0;
   }

   & span:nth-child(3) {
      translate: 0 -0.55em;
      transform: rotate(-45deg);
   }
}
#hamburger_button[data-hamburger-click="false"] {
   & span {
      transition: opacity 200ms ease-in-out 200ms, translate 200ms ease-in-out 200ms, transform 200ms ease-in-out;
   }
}

.hero_main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   width: 100%;
   gap: 5em;
   padding-inline: clamp(1.5em, 6vw, 5.5vw);
   padding-top: 10em;
   position: relative;

   & h1 {
      font-family: InterTight_Medium, Arial, Helvetica, sans-serif;
      color: var(--White);
      font-size: clamp(6.3rem, 10vw, 9vw);
      letter-spacing: 5px;
   }
}

.hero_line_divs {
   display: flex;
   align-items: center;
   width: 100%;
   gap: clamp(1.5em, 3vw, 3vw);

   &:nth-child(1) {
      justify-content: left;
   }
   &:nth-child(2) {
      justify-content: right;
   }
}

.text_containers {
   overflow: hidden;
   width: max-content;
   height: max-content;
}

.hero_image_containers {
   width: 25em;
   height: 7em;
   border-radius: 1.5em;
   overflow: hidden;
   user-select: none;
   position: relative;

   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.hero_image_containers_shutters {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   background-color: var(--Black);
   z-index: 2;
}

.hero_bottom {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 100%;
   height: 20em;
   padding: 3em clamp(1.5em, 6vw, 5.5vw);
}

.hero_bottom_left {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.8em;
   grid-column: 1 / 2;
   height: 100%;

   & svg {
      width: clamp(1.5em, 2vw, 1.6vw);
      cursor: pointer;
   }
}

.hero_bottom_right {
   display: flex;
   align-items: center;
   justify-content: center;
   grid-column: 3 / 4;
   height: 100%;

   & p {
      color: var(--White);
      font-family: InterTight_Light, Arial, Helvetica, sans-serif;
      font-size: clamp(0.95rem, 1.5vw, 1.2vw);
      text-align: left;
      line-height: 1.4;
   }
}

#section2 {
   width: 100%;
   height: 100vh;
   height: 100svh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5em clamp(1.5em, 6vw, 5.5vw);
   overflow: hidden;

   & h1 {
      color: var(--White);
      font-size: clamp(1.2rem, 4vw, 3.5vw);
      font-family: InterTight_Medium, Arial, Helvetica, sans-serif;
      line-height: 1.5;
      letter-spacing: 1.5px;
   }
}

#section3,
#section4,
#section5 {
   width: 100%;
   overflow: hidden;
   padding: 2em clamp(1.5em, 6vw, 5.5vw);
   margin-bottom: 10em;
}

.section3_title,
.section4_title,
.section5_title {
   position: relative;
   height: max-content;
   width: max-content;
   margin-bottom: 3em;

   & h1 {
      color: var(--White);
      font-family: InterTight_Bold, Arial, Helvetica, sans-serif;
      font-size: clamp(2.5rem, 10vw, 10vw);
   }

   & svg {
      position: absolute;
      width: clamp(1em, 5vw, 3vw);
      right: -20%;
      top: 0;
   }
}

.sample_boxes_div {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1em;
}

.sample_boxes {
   border-radius: 1.5em;
   overflow: hidden;
   position: relative;
   aspect-ratio: 16 / 10;

   &:hover .sample_images {
      scale: 1.2;
   }

   &:hover .sample_boxes_title {
      opacity: 1;
   }
}

.sample_boxes_shutter {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--Black);
   z-index: 5;
}

.sample_images {
   width: 102%;
   height: 102%;
   object-fit: cover;
   filter: brightness(0.5);
   transition: 400ms ease-out;
   transition-property: scale;
}

#section3 .sample_boxes_title h3 {
   font-family: InterTight_Medium, Arial, Helvetica, sans-serif;
   color: var(--White);
   font-size: clamp(1.4rem, 5vw, 4vw);
   letter-spacing: 2px;
}

#section5 .sample_boxes_title h3 {
   font-family: InterTight_Medium, Arial, Helvetica, sans-serif;
   color: var(--White);
   font-size: clamp(1.2rem, 3vw, 2.2vw);
   letter-spacing: 2px;
}

.sample_boxes_title {
   position: absolute;
   left: clamp(1em, 2vw, 2vw);
   bottom: clamp(1em, 2vw, 2vw);
   z-index: 3;
   transition: 400ms ease-out;
   transition-property: opacity;

   & p {
      font-family: InterTight_Light, Arial, Helvetica, sans-serif;
      color: var(--White);
      font-size: clamp(0.6rem, 1vw, 0.95vw);
      letter-spacing: 1px;
   }
}

#section4 {
   background-color: green;
}

@media (width <= 1000px) {
   .hero_main {
      padding-top: 8em;
      gap: 3em;
   }

   .hero_line_divs {
      flex-direction: column;
      justify-content: center;

      &:nth-child(1) {
         align-items: flex-start;
      }
      &:nth-child(2) {
         align-items: flex-end;
      }
   }

   .hero_image_containers {
      width: 25em;
      height: 6em;
   }

   .hero_bottom {
      grid-template-rows: repeat(2, auto);
      height: 20em;
   }

   .hero_bottom_right {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
   }

   .sample_boxes_title {
      opacity: 1;
   }
}

@media (width <= 800px) {
   nav {
      position: fixed;
      inset: 0 0 auto 0;
   }

   .nav_right {
      display: none;
   }

   #hamburger_button {
      display: flex;
   }

   .menu {
      display: flex;
   }

   .hero_main {
      gap: 3em;

      & h1 {
         font-size: 4.5rem;
      }
   }

   .sample_boxes_div {
      grid-template-columns: 1fr;
   }
}

@media (width <= 500px) {
   .hero_main {
      gap: 2em;

      & h1 {
         font-size: 3.5rem;
      }
   }

   .hero_image_containers {
      width: 20em;
      height: 5em;
      border-radius: 1em;
   }

   .sample_boxes {
      border-radius: 1em;
   }
}

@media (width <= 400px) {
   .hero_main {
      gap: 1em;

      & h1 {
         font-size: 15vw;
         letter-spacing: 3px;
      }
   }

   .hero_image_containers {
      width: 100%;
      height: 4.5em;
      border-radius: 1em;
   }
}
