* {
   margin: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;
}

body,
html {
   width: 100%;
   box-sizing: border-box;
   overflow-x: hidden;
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   position: relative;
}
