*,
*::after,
*::before {
   margin: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;

   &::selection {
      background-color: var(--White);
      color: var(--Black);
   }
}

body,
html {
   width: 100%;
   box-sizing: border-box;
   overflow-x: hidden;
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   position: relative;
   background-color: var(--Black);
}

:root {
   /* Colors */
   --Black: #121212;
   --White: #ffffff;
}

@font-face {
   font-family: InterTight_Bold;
   src: url(Fonts/InterTight-Bold.ttf);
}
@font-face {
   font-family: InterTight_Medium;
   src: url(Fonts/InterTight-Medium.ttf);
}
@font-face {
   font-family: InterTight_Light;
   src: url(Fonts/InterTight-Light.ttf);
}
@font-face {
   font-family: InterTight_Thin;
   src: url(Fonts/InterTight-Thin.ttf);
}

#section1 {
   width: 100%;
   height: 100vh;
   height: 100svh;
}

nav {
   width: 100%;
   padding: 1em clamp(2em, 6vw, 5.5vw);
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   overflow: hidden;
   user-select: none;
}

.nav_logo {
   color: var(--White);
   font-family: InterTight_Light, Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
   font-size: clamp(1.8rem, 4vw, 3vw);
}

.nav_right {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2em;

   & a {
      color: var(--White);
      font-family: InterTight_Light, Arial, Helvetica, sans-serif;
      font-size: 1rem;
      padding: 1em 0.5em;
   }
}

.hero_main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   gap: 5em;
   padding-inline: clamp(2em, 6vw, 5.5vw);
   padding-block: 10em;
   position: relative;

   & h1 {
      font-family: InterTight_Medium, Arial, Helvetica, sans-serif;
      color: var(--White);
      font-size: clamp(5.5rem, 8vw, 8vw);
      letter-spacing: 7px;
   }
}

.hero_line_divs {
   display: flex;
   align-items: center;
   width: 100%;
   gap: clamp(1.5em, 3vw, 3vw);

   &:nth-child(1) {
      justify-content: left;
   }
   &:nth-child(2) {
      justify-content: right;
   }
}

.text_containers {
   overflow: hidden;
   width: max-content;
   height: max-content;
}

.hero_image_containers {
   width: 28em;
   height: 8em;
   border-radius: 2em;
   overflow: hidden;
   user-select: none;
   position: relative;

   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.hero_image_containers_shutters {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   background-color: var(--Black);
   z-index: 2;
}

@media (width <= 1000px) {
   .hero_main {
      height: max-content;
      padding-block: 4em;
   }

   .hero_line_divs {
      flex-direction: column;
      justify-content: center;

      &:nth-child(1) {
         align-items: flex-start;
      }
      &:nth-child(2) {
         align-items: flex-end;
      }
   }

   .hero_image_containers {
      width: 25em;
      height: 6em;
   }
}

@media (width <= 800px) {
   .nav_right {
      display: none;
   }

   .hero_main {
      & h1 {
         font-size: 4.5rem;
      }
   }
}

@media (width <= 500px) {
   .hero_main {
      & h1 {
         font-size: 3.5rem;
      }
   }

   .hero_image_containers {
      width: 20em;
      height: 5em;
   }
}

@media (width <= 400px) {
   .hero_main {
      & h1 {
         font-size: 3rem;
         letter-spacing: 3px;
      }
   }

   .hero_image_containers {
      width: 100%;
      height: 4.5em;
      border-radius: 1.2em;
   }
}
